<!--div id="directory-container" display="none" ng-controller="joinCommunityCtrl" class="container"-->
<div id="directory-container" class="container" ng-show="showList.directory" class="ng-hide">
    <h3> Directory </h3>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" type="submit" ng-click="searchByStatus()" class="btn btn-default">Search By Status</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" type="submit" ng-click="searchByName()" class="btn btn-default">Search By Name</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" type="submit" ng-click="reset()" class="btn btn-default">Reset</button>
        </div>
    </div><br>

    <center>
    <div class="btn-group" data-toggle="buttons" ng-show="searchStatus">

        <label class="btn btn-primary ok"><input type="radio" name="status" id="OK" value="OK" ng-click="getStatus('OK')">OK</label>
        <label class="btn btn-primary help"><input type="radio" name="status" id="Help" value="Help" ng-click="getStatus('Help')">Help</label>
        <label class="btn btn-primary emergency"><input type="radio" name="status" id="Emergency" value="Emergency" ng-click="getStatus('Emergency')">Emergency</label>

    </div>
    </center>
    <div class="container" ng-show="searchName">
        <div class="input-group">
        <input ng-model="namesearchmsg" id="namesearchmsg" type="text" class="form-control" placeholder="Search Citizen Name" autofocus>
            <span class="input-group-btn">
                <button class="btn btn-info" type="submit" ng-click="searchDirectory()">Search</button>
            </span>
        </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>
             Users
          </th>
          <th>
              Status
          </th>
            <th>Chat</th>
        </tr>
      </thead>
      <tr ng-repeat="user in details1">
        <td>
            Online {{user}}
        </td>
          <td>
              {{ statusList[user]}}
          </td>
		<td><button ng-click="openPrivateChat(user)">Chat</button></td>
    <td><button ng-click="showProfile(user)" ng-show="userClass.privilegelevel == 'Administrator'">Profile</button></td>
      </tr>
        <tr ng-repeat="user in details2">
            <td>
                Offline {{user}}
            </td>
            <td>
                {{ statusList[user]}}
            </td>
			<td><button ng-click="openPrivateChat(user)">Chat</button></td>
      <td><button ng-click="showProfile(user)" ng-show="userClass.privilegelevel == 'Administrator'">Profile</button></td>
        </tr>
    </table>
    <!--h5 ng-show="userClass.privilegelevel == 'Citizen'">123</h5-->
</div>
