<!--<nav class="navbar navbar-default">-->
  <!--&lt;!&ndash;<div class="navbar navbar-default navbar-fixed-top my-custom-nav" role="navigation">&ndash;&gt;-->

  <!--<div class="container-fluid">-->

    <!--<ul class="nav navbar-nav">-->
      <!--<li><a href="#" ng-click='showDirectory()' ng-show="logined">Directory&lt;!&ndash;span class="sr-only">(current)</span&ndash;&gt;</a ></li>-->
      <!--<li><a href="#" ng-click='showPublicChat()' ng-show="logined">PublicChat</a ></li>-->
      <!--<li><a href="#" ng-click='showAnnouncement()' ng-show="logined">Announcements</a ></li>-->
      <!--<li><a href="#" ng-click='showShareStatus()' ng-show="logined">Share Status</a ></li>-->
      <!--<li><a href="#" ng-click='showPrivateChat()' ng-show="logined">PrivateChat (<span ng-show="userClass.hasNewMsg" style="color:red">{{userClass.newMsgNum}}</span><span ng-show="!userClass.hasNewMsg">0</span>) </a ></li>-->
        <!--<li><a href="#" ng-click='showGroup()' ng-show="logined">Group</a ></li>-->
        <!--<li><a href="#" ng-click='showShelter()' ng-show="logined">Emergency Shelters</a ></li>-->

        <!--<li><a href="#" ng-click='logout()' ng-show="logined">Logout({{userClass.username}})</a ></li>-->
    <!--</ul>-->

  <!--</div>-->
<!--</nav>-->
<header ng-show="logined">
  <div class="icon hamburger-icon" sidebarjs-toggle></div>
    <h1><span style="padding-left:80px">Emergency Social Network</span><span ng-show="userClass.hasNewMsg" ng-click='showPrivateChat()' class="glyphicon glyphicon-bell" aria-hidden="true" style="padding-left:40px"></span><span ng-show="userClass.hasNewMsg" style="color:red">({{userClass.newMsgNum}})</span></h1>
</header>
<sidebarjs>
  <h3>ESN</h3>
  <nav>
      <a sidebarjs-toggle href="#" ng-click='showDirectory()' ng-show="logined">Directory</a>
      <a sidebarjs-toggle href="#" ng-click='showOwnProfile()' ng-show="logined">Profile</a>
      <a sidebarjs-toggle href="#" ng-click='showPublicChat()' ng-show="logined">PublicChat</a>
      <a sidebarjs-toggle href="#" ng-click='showAnnouncement()' ng-show="logined">Announcements</a>
      <a sidebarjs-toggle href="#" ng-click='showShareStatus()' ng-show="logined">Share Status</a>
      <a sidebarjs-toggle href="#" ng-click='showPrivateChat()' ng-show="logined">PrivateChat (<span ng-show="userClass.hasNewMsg" style="color:red">{{userClass.newMsgNum}}</span><span ng-show="!userClass.hasNewMsg">0</span>) </a>
      <a sidebarjs-toggle href="#" ng-click='showGroup()' ng-show="logined">Group</a>
      <a sidebarjs-toggle href="#" ng-click='showShelter()' ng-show="logined">Emergency Shelters</a>
      <a sidebarjs-toggle href="#" ng-click='logout()' ng-show="logined">Logout({{userClass.username}})</a>
  </nav>
</sidebarjs>
<!--<nav class = "navbar navbar-default" ng-show="logined" role = "navigation">-->

  <!--<div class = "navbar-header">-->
    <!--<button type = "button" class = "navbar-toggle"-->
            <!--data-toggle = "collapse" data-target = "#example-navbar-collapse">-->
      <!--<span class = "sr-only">Toggle navigation</span>-->
      <!--<span class = "icon-bar"></span>-->
      <!--<span class = "icon-bar"></span>-->
      <!--<span class = "icon-bar"></span>-->
    <!--</button>-->

    <!--<a class = "navbar-brand" href = "#">ESN</a >-->
  <!--</div>-->

  <!--<div class = "collapse navbar-collapse" ng-show="logined" id = "example-navbar-collapse">-->

    <!--<ul class = "nav navbar-nav">-->
      <!--<li><a href="#" ng-click='showDirectory()' ng-show="logined">Directory&lt;!&ndash;span class="sr-only">(current)</span&ndash;&gt;</a ></li>-->
      <!--<li><a href="#" ng-click='showPublicChat()' ng-show="logined">PublicChat</a ></li>-->
      <!--<li><a href="#" ng-click='showAnnouncement()' ng-show="logined">Announcements</a ></li>-->
      <!--<li><a href="#" ng-click='showShareStatus()' ng-show="logined">Share Status</a ></li>-->
      <!--<li><a href="#" ng-click='showPrivateChat()' ng-show="logined">PrivateChat <span class="badge" ng-show="userClass.hasNewMsg" >{{userClass.newMsgNum}}</span> </a ></li>-->
      <!--<li><a href="#" ng-click='logout()' ng-show="logined">Logout({{userClass.username}})</a ></li>-->

    <!--</ul>-->
  <!--</div>-->

<!--</nav>-->
