
<div class="container" ng-controller="postAnnouncementCtrl" ng-show="showList.postAnnouncement">
    <h3> Announcement </h3>

    <div class="container">
        <center>
            <input style="border: 1px solid #ccc; height:30px; width:90%" ng-model="annsearchmsg" size="30" id="annsearchmsg" type="text" placeholder="Search Announcement">
            <button type="button" ng-click="searchAnnouncement()" class="btn btn-circle"><i class="glyphicon glyphicon-search"></i></button>
        </center>
    </div>

    <br>

    <div class="container" ng-show="showList.annoucementSearchResult">
        <div class="panel panel-default " ng-repeat="ann in AnnounceSearchResult track by $index">
            <div class="panel-heading"><span>{{ann.username}} @ </span><span>{{ann.timestamp |  date: 'MM.dd.yyyy HH:mma' }}</span></div>
            <div class="panel-body"><span class="content">{{ann.announcement}}</span><span class="avatar"></span></div>
        </div>

        <div ng-if="SearchAnnounceMore">
            <center>
                <button type="button" class="btn btn-info btn-circle btn-lg"><i class="glyphicon glyphicon-chevron-down" ng-click="GetMoreSearchResults()"></i></button>
            </center>
        </div>
    </div>


    <div class="container" ng-show="showList.announcementHistory">

        <div class="panel panel-default" ng-repeat="ann in announcementList track by $index">
            <div class="panel-heading"><span>{{ann.username}} @ </span><span>{{ann.timestamp |  date: 'MM.dd.yyyy HH:mma' }}</span></div>
            <div class="panel-body"><span class="content">{{ann.announcement}}</span><span class="avatar"></span></div>
        </div>
    </div>
    <div class="container" ng-show="showList.announcementHistory">
        <!--<div class="form-signin" ng-show="userClass.privilegelevel != 'Citizen'">-->
            <!--<input ng-model="announcement_content" id="postAnnouncement" type="text" class="form-control" placeholder="Post Announcement" required autofocus>-->
            <!--<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submitAnnouncement()">Post Announcement</button>-->
        <!--</div>-->

         <center>
                <input style="border: 1px solid #ccc; height:45px; width:84%" ng-model="announcement_content" size="30" id="postAnnouncement" type="text" placeholder="Post Announcement" required autofocus>
                <button type="button" ng-click="submitAnnouncement()" class="btn btn-info btn-circle btn-lg"><i class="glyphicon glyphicon-send"></i></button>
         </center>
    </div>
</div>



