<div class="container" ng-controller="privateChatListCtrl" ng-show="showList.privateChatList">
    <div class="container">
        <h3> Private Chat List </h3>
        <div class="container" ng-show="showList.annoucementSearchResult">
            <div class="panel panel-default " ng-repeat="privatechat in privatechat_search_results track by $index">
                <div class="panel-heading"><span>{{privatechat.username}} @ </span><span>(Status: {{privatechat.emergency_status}}){{privatechat.timestamp |  date: 'MM.dd.yyyy HH:mma' }}</span></div>
                <div class="panel-body"><span class="content">{{privatechat.private_msg}}</span><span class="avatar"></span></div>
            </div>

            <div ng-if="searchPrivateChatMore">
                <div style="cursor:pointer" ng-click="GetMoreSearchResults()">----More----</div>
            </div>
        </div>

        <div class="container">
            <div class="form-signin">
                <input ng-model="privatechat_search_area" id="privatechat_search_area" type="text" class="form-control" placeholder="Search Private Chat Contents" autofocus>
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="searchPrivateChat()">Search</button>
            </div>
        </div>

        <!--div class="panel panel-default">
            <div class="panel-body">
                <table ng-repeat="sender in privateSenderList track by $index">
                    <tr>
                        <td>
                            <span class="content">{{sender.sender}}</span>
                        </td>
                        <td>
                            <span class="avatar" style="color:red">{{sender.count}}</span>
                        </td>
                        <td>
                            <button ng-click="openMsg(sender.sender)">Open</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div-->
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Senders
                    </th>
                    <th>
                        New Messages
                    </th>
                    <th>
                        Chat Page
                    </th> 
                </tr>
            </thead>
            <tr ng-repeat="sender in privateSenderList track by $index">
                <td>
                    {{sender.sender}}
                </td>
                <td>
                    <span style="color:red">{{sender.count}}</span>
                <td>
                    <button ng-click="openMsg(sender.sender, false)">Open</button>
                </td>
            </tr>
        </table>
    </div>
</div>
