<div class="container" ng-controller="privateChatContentCtrl" ng-show="showList.privateChatContent">
    <h3>Chat with: {{privateChatSender}}</h3>

    <div class="container" ng-show="userClass.displayHistory">
        <div class="panel panel-default " ng-repeat="msg in privateMsgs track by $index">
            <div class="panel-heading"><span>{{msg.sender}} @ </span><span ng-show="privateChatSender != 'EmergencyAdmin'">(Status: {{msg.emergency_status}})</span><span>{{msg.timestamp |  date: 'MM.dd.yyyy HH:mma' }}</span></div>
            <div class="panel-body"><span class="content">{{msg.private_msg}}</span><span class="avatar"></span></div>
            </div>
    </div>



    <div class="container" ng-show="!userClass.displayHistory">
        <div class="panel panel-default " ng-repeat="msg in newMsgs track by $index">
            <div class="panel-heading"><span>{{msg.sender}} @ </span><span ng-show="privateChatSender != 'EmergencyAdmin'">(Status: {{msg.emergency_status}})</span><span>{{msg.timestamp |  date: 'MM.dd.yyyy HH:mma' }}</span></div>
            <div class="panel-body"><span class="content">{{msg.private_msg}}</span><span class="avatar"></span></div>
        </div>
    </div>


    <div class="container" ng-show="userClass.displayHistory">
        <!--<div class="form-signin">-->
            <!--<input ng-model="private_msg" id="private_msg" type="text" class="form-control" placeholder="Send Private Msg" required autofocus>-->
            <!--<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="postPrivateMsg()">Send Private Msg</button>-->
        <!--</div>-->

        <center>
            <input style="border: 1px solid #ccc; height:45px; width:74%" ng-show="privateChatSender != 'EmergencyAdmin'" ng-model="private_msg" size="30" id="private_msg" type="text" placeholder="Send Private Msg" required autofocus>
            <button type="button" ng-show="privateChatSender != 'EmergencyAdmin'" ng-click="postPrivateMsg()" class="btn btn-info btn-circle btn-lg"><i ng-show="privateChatSender != 'EmergencyAdmin'" class="glyphicon glyphicon-send"></i></button>
        </center>
    </div>
    <center>
    <button ng-show="!userClass.displayHistory" type="button" class="btn btn-info btn-circle btn-lg"><i ng-show="!userClass.displayHistory" class="glyphicon glyphicon-chevron-down" ng-click="showHistoryMsg()"></i></button>
    </center>

</div>
