<div class="container" ng-controller="privateChatListCtrl" ng-show="showList.privateChatList">
    <div class="container">
        <h3> Private Chat List </h3>
        <!--<div class="container">-->
            <!--<input ng-model="privatechat_search_area" id="privatechat_search_area" type="text" class="form-control" placeholder="Search Private Chat Contents" >-->
            <!--<button class="btn btn-info btn-block" type="submit" ng-click="searchPrivateChat()">Search</button>-->
        <!--</div>-->
        <div class="container">
            <center>
                <input style="border: 1px solid #ccc; height:30px; width:85%" ng-model="privatechat_search_area" size="30" id="privatechat_search_area" type="text" placeholder="Search Private Chat Contents">
                <button type="button" ng-click="searchPrivateChat()" class="btn btn-circle"><i class="glyphicon glyphicon-search"></i></button>
            </center>
        </div>

        <div class="container" ng-show="showList.privateChatSearchResult">
            <div class="panel panel-default " ng-repeat="privatechat in privatechat_search_results track by $index">
                <div class="panel-heading"><span>{{privatechat.sender}} @ </span><span>(Status: {{privatechat.emergency_status}}){{privatechat.timestamp |  date: 'MM.dd.yyyy HH:mma' }}</span> <span>Receiver:{{privatechat.receiver}}</span></div>
                <div class="panel-body"><span class="content">{{privatechat.message}}</span><span class="avatar"></span></div>
            </div>

            <div ng-if="searchPrivateChatMore">
                <center>
                    <button type="button" class="btn btn-info btn-circle btn-lg"><i class="glyphicon glyphicon-chevron-down" ng-click="GetMoreSearchResults()"></i></button>
                </center>
            </div>
        </div>



        <!--div class="panel panel-default">
            <div class="panel-body">
                <table ng-repeat="sender in privateSenderList track by $index">
                    <tr>
                        <td>
                            <span class="content">{{sender.sender}}</span>
                        </td>
                        <td>
                            <span class="avatar" style="color:red">{{sender.count}}</span>
                        </td>
                        <td>
                            <button ng-click="openMsg(sender.sender)">Open</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div-->
        <div class="container" ng-show="showList.privateChatTable">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Senders
                    </th>
                    <th>
                        New Messages
                    </th>
                    <th>
                        Chat Page
                    </th> 
                </tr>
            </thead>
            <tr ng-repeat="sender in privateSenderList track by $index">
                <td>
                    {{sender.sender}}
                </td>
                <td>
                    <span style="color:red">{{sender.count}}</span>
                <td>
                <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-send" ng-click="openMsg(sender.sender, false)"></i></button>
                </td>
            </tr>
        </table>
        </div>
    </div>
</div>
