<div class="container" ng-controller="ProfileManagementCtrl" ng-show="showList.profileManagement">

    <h5><center><b>{{profile["profileusername"]}} User Profile</b></center></h5>
      	<table class="table">
                  <tr>
                      <td>
                          Username
                      </td>
                      <td>
                          <input type="text" id="username" ng-model="newusername"></input>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          Password
                      </td>
                      <td>
                          <input type="password" id="password" ng-model="password"></input>
                      </td>
                  </tr>
              	  <tr>
                      <td>
                          Account Status
                      </td>
                      <td>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary"><input type="radio" ng-model="accountstatus" value="Active"> Active </label>
                            <label class="btn btn-primary"><input type="radio" ng-model="accountstatus" value="Inactive"> Inactive </label>
                        </div>
              		    </td>
                  </tr>
                  <tr>
                        <td>
                            Privilege Level
                        </td>
                        <td>
                          <!-- <div class="btn-group" data-toggle="buttons">
                              <label class="btn btn-primary"><input type="radio" class="radio" name="citizen" id="citizen" value="1" ng-model="privilegelevel">Citizen</label>
                              <label class="btn btn-primary"><input type="radio" class="radio" name="coordinator" id="coordinator" value="2" ng-model="privilegelevel">Coordinator</label>
                              <label class="btn btn-primary"><input type="radio" class="radio" name="admin" id="admin" value="3" ng-model="privilegelevel">Admin</label>
                          </div> -->
                          <div class="btn-group" data-toggle="buttons">
                              <label class="btn btn-primary"><input type="radio" ng-model="privilegelevel" value="Citizen"> Citizen </label>
                              <label class="btn btn-primary"><input type="radio" ng-model="privilegelevel" value="Coordinator"> Coordinator </label>
                              <label class="btn btn-primary"><input type="radio" ng-model="privilegelevel" value="Administator"> Administrator </label>
                          </div>
                        </td>
                    </tr>
                    <tr>
                          <td colspan="2">
                              <center><button class="btn btn-info" type="submit" ng-click="updateProfileDetails();">Submit</button></center>
                          </td>
                    </tr>
        </table>
</div>
</br></br>
