<div class="container" ng-controller="shareStatusCtrl" ng-show="showList.shareStatus">
<div class="container">
	<table class="table">
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Explanation
                </th>
                <th>
                    Icon
                </th>
            </tr>
            <tr>
                <td>
                    OK
                </td>
                <td>
                    I am OK, I do not need help.
                </td>
                <td>
                    <img src="/images/Okay.png" height="20%" width="50%" />
                </td>
            </tr>
            <tr>
                <td>
                    Help
                </td>
                <td>
                    I need help, but this is not a life threatening emergency.
                </td>
                <td>
                    <img src="/images/Warning.png" height="20%" width="50%"/>
                </td>
            </tr>
        	<tr>
                <td>
                    Emergency
                </td>
                <td>
                    I need help now, as this is a life threatening emergency!
        		</td>
                <td>
                    <img src="/images/Emergency.png" height="10%" width="50%"/>
                </td>
            </tr>
        </table>
		<center>
		<h5>Your current status is: <span>{{currentstatus}}</span>
		<br/> Choose your status: </h5>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary"><input type="radio" name="status" id="OK" value="OK">OK</label>
            <label class="btn btn-primary"><input type="radio" name="status" id="Help" value="Help">Help</label>
            <label class="btn btn-primary"><input type="radio" name="status" id="Emergency" value="Emergency">Emergency</label>
        </div>
        </center>
