<div class="container">
	<table class="table table-striped">
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Explanation
                </th>
                <th>
                    Icon
                </th>
            </tr>
            <tr>
                <td>
                    OK
                </td>
                <td>
                    I am OK, I do not need help.
                </td>
                <td>
                    <img src="../public/images/Okay.png" height="20%" width="50%" />
                </td>
            </tr>
            <tr>
                <td>
                    Help
                </td>
                <td>
                    I need help, but this is not a life threatening emergency.
                </td>
                <td>
                    <img src="../public/images/Warning.png" height="20%" width="50%"/>
                </td>
            </tr>
        	<tr>
                <td>
                    Emergency
                </td>
                <td>
                    I need help now, as this is a life threatening emergency!
        		</td>
                <td>
                    <img src="../public/images/Emergency.png" height="10%" width="50%"/>
                   <img src="../public/images/Emergency.png" height="10%" width="50%"/>
                </td>
            </tr>
        </table>

