<div ng-controller="shelterCtrl" ng-show="showList.shelter" style="width: 100%; height: 100%;">

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" type="submit" ng-click="showMapSearch('Map')" class="btn btn-default">Map</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" type="submit" ng-click="showMapSearch('Search')" class="btn btn-default">Search</button>
        </div>
    </div><br>

    <div id="map_container" style="width: 100%; height: 100%;" ng-show="showMap">

        <div id="location_container" ng-show="location.valid">
            <h3> Current location:</h3>
            {{ city.name }}({{ location.latitude }}, {{ location.longitude }})
        </div>
        <br/>

        <!--div class="container" style="width: 100%; height: 700;">
            
        </div-->
        <!--div id="shelterMap" style="width: 100%; height: 100%;" ng-show="mapAvaible"></div-->
        <div ng-show="!mapAvaible">
            <h3>{{notification}}, please search for emergency shelters.</h3>
        </div>
        <!--div id="map" class="map" style="width: 100%; height: 100%;" ng-show="mapAvaible"><div id="popup"></div></div-->
        <!--div id="mapdiv" style="width: 90%; height: 90%; margin-left: auto; margin-right: auto;" ng-show="mapAvaible"></div-->

        <div id="map" style="width: 90%; height: 70%; margin-left: auto; margin-right: auto;"></div>
    </div>


    <div id="search_container" style="width: 100%; height: 100%;" ng-show="!showMap">
        <div class="container">
            <div class="input-group">
                <input ng-model="shelter_search_area" id="shelter_search_area" type="text" class="form-control" placeholder="Search City Name" >
                <span class="input-group-btn">
                    <button class="btn btn-info" type="submit" ng-click="search()">Search</button>
                </span>
            </div>
        </div>
    </div>



</div>