<!DOCTYPE html>
<html lang='en'>
<head>
    <title>ChatPublicly</title>
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/chatPublicly.css" rel="stylesheet">
</head>
<body>

<div class="container"  ng-app="chatPubliclyAPP" ng-controller="chatPubliclyCtrl">
    <div class="container">
    <br>
    {{retrieveMsgs}}
    <ul>
        <li ng-repeat="msg in displaymsg">
            <div>{{msg.username}}</div>
            <div>{{msg.timestamp| date: 'MM.dd.yyyy HH:mma' }}</div>
            <div>{{msg.pubmsg}}</div>
        </li>
    </ul>

    </div>
    <div class="container">
        <form class="form-signin" ng-submit="postMsg()">
            <input ng-model="pubmsg" id="pubmsg" type="text" class="form-control" placeholder="Send Public Msg" required autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit" >Send Msg</button>
        </form>
    </div>
</div> <!-- /container -->




<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/joinCommunity.js"></script>
<script src="/javascripts/chatPublicly.js"></script>

</body>
</html>