<!--div id="directory-container" display="none" ng-controller="joinCommunityCtrl" class="container"-->
<div id="directory-container" class="container" ng-show="showList.directory" class="ng-hide">
    <table class="table">
      <thead>
        <tr>
          <th>
             Users
          </th>
        </tr>
      </thead>
      <tr ng-repeat="user in details1">
        <td>
            Online {{user}}
        </td>
      </tr>
        <tr ng-repeat="user in details2">
            <td>
                Offline {{user}}
            </td>
        </tr>
    </table>
</div>
